

{% extends 'base.html.twig' %}

{% block title %}Ajouter Produit{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/addproduit.css') }}" media="all" />
{% endblock %}


{% block body %}
{% if app.session.get('role') == "BDE" %}

<div class="background">
	<h3>Formulaire ajouter un produit</h3>

	{{ form_start(formAddEvent) }}

	{{ form_row(formAddEvent.nom,{'attr': {'placeholder': "Nom de l'activité"}}) }}
	{{ form_row(formAddEvent.image,{'attr': {'placeholder': "IMAGE"}}) }}
	{{ form_row(formAddEvent.description,{'attr': {'placeholder': "Description"}}) }}
	{{ form_row(formAddEvent.date) }}
	{{ form_row(formAddEvent.cout) }}
	{{ form_row(formAddEvent.recurrence) }}
	{{ form_row(formAddEvent.valide) }}
	<button type="submit" class="btn btn-success">Ajouter Evenement</button>
	{{ form_end(formAddEvent) }}
	
	

</div>
{% endif %}
{% endblock %}


