{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/boutique.css') }}" media="all" />
{% endblock %}

{% block body %}

<div class="background">
<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Boutique</h1>
        <div class="list-group">
          <a href="/boutique/vetements" class="list-group-item">Vêtements</a>
          <a href="/boutique/goodies" class="list-group-item">Goodies</a><br>
          <a href="/boutique/panier" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Panier ({{ app.request.cookies.get('nbpanier') }})</a>
          <br>

    <div class="recherche_p">

      <form action="produits" id="searchthis" method="get">
        <input id="search" name="nom" type="text" placeholder="Rechercher" />
        <input id="search-btn" type="submit" value="Rechercher" />
      </form>
    </div>

    {% if app.session.get('role') == "BDE"   %}
      <a href="boutique/add"> AJOUTER PRODUITS </a>
    {% endif %}

        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row">
		
		{% if produit is defined %}
		{% for produit in produit %}
          <div class="col-lg-40 col-md-60 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{ produit.image }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <div id="titre" href="#">{{produit.nom}}</div>
				  <div id="titre" href="#">{{produit.description}}</div>
                </h4>
                <h5>Prix</h5>
                <p class="card-text">{{produit.prix}}</p>
              </div>

            {{ form_start(formpanier) }}
	          <button type="submit" class="btn btn-success">Ajouter au panier</button>
	          {{ form_end(formpanier) }}
            </div>

          </div>


		{% endfor %}
		{% endif %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>

  </div>
{% endblock %}
