{% extends 'base.html.twig' %}

{% block title %}INSCRIPTION{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inscription.css') }}" media="all" />
{% endblock %}

{% form_theme formInscription 'bootstrap_4_Layout.html.twig' %}

{% block body %}
<div class="background">
	<h3>Formulaire d'inscription</h3>

	{{ form_start(formInscription) }}

	{{ form_row(formInscription.nom,{'attr': {'placeholder': "Flantier"}}) }}
	{{ form_row(formInscription.prenom,{'attr': {'placeholder': "Noël"}}) }}
	{{ form_row(formInscription.localisation,{'attr': {'placeholder': "126 Boulevard de la Liberté 59000 Lille"}}) }}
	{{ form_row(formInscription.campus,{'attr': {'placeholder': "Lille"}}) }}
	{{ form_row(formInscription.adressemail,{'attr': {'placeholder': "noel.flantier@viacesi.fr"}}) }}
	{{ form_row(formInscription.motdepasse,{'attr': {'placeholder': "Idilj87"}}) }}

  <form>
    <div>
      <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
      <label for="subscribeNews">J’accepter les conditions du règlement</label>
    </div>
  </form>

	<button type="submit" class="btn btn-sucess">S'inscrire</button>

	{{ form_end(formInscription) }}

</div>
{% endblock %}
