{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inscription.css') }}" media="all" />
{% endblock %}

{% form_theme formInscription 'bootstrap_4_Layout.html.twig' %}

{% block body %}
<div class="background">
	<h3>Formulaire d'inscription</h3>

	{{ form_start(formInscription) }}

	{{ form_row(formInscription.nom,{'attr': {'placeholder': "Flantier"}}) }}
	{{ form_row(formInscription.prenom,{'attr': {'placeholder': "Noël"}}) }}
	{{ form_row(formInscription.localisation,{'attr': {'placeholder': "126 Boulevard de la Liberté 59000 Lille"}}) }}
	{{ form_row(formInscription.campus,{'attr': {'placeholder': "Lille"}}) }}
	{{ form_row(formInscription.adressemail,{'attr': {'placeholder': "noel.flantier@viacesi.fr"}}) }}
	{{ form_row(formInscription.motdepasse,{'attr': {'placeholder': "Idilj87"}}) }}
	{{ form_row(formInscription.valide,{'attr': {'placeholder': "checkbox"}}) }}

	<a href="/pdc"> Conditions du règlement </a></br>


        <button type="submit" class="btn btn-success" value="Valider">S'inscrire</button>

	{{ form_end(formInscription) }}

</div>
{% endblock %}
