{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/modifproduit.css') }}" media="all" />
{% endblock %}

{% form_theme formModifProduit 'bootstrap_4_Layout.html.twig' %}

{% block body %}

<div class="background">
	<h3>Formulaire modifier un produit</h3>

	{{ form_start(formModifProduit) }}

	{{ form_row(formModifProduit.nom,{'attr': {'placeholder': "Pull Sucepute"}}) }}
	{{ form_row(formModifProduit.description,{'attr': {'placeholder': "Pull de la marque d'Alkapote Sucepute 100% coton"}}) }}
	{{ form_row(formModifProduit.prix,{'attr': {'placeholder': "35"}}) }}

	<button type="submit" class="btn btn-sucess">Modifier Produit</button>

	{{ form_end(formModifProduit) }}

</div>
{% endblock %}
